body h1{
    margin: 0;
}
.navigation{
    position: absolute;
    left: 0;
    width: 10rem;
    height: 100vh;
    background-color: aqua;
    text-align: center;
}
.navigation ul {
    padding: 0;
    list-style-type: none;
}
.mainContent{
    padding-top: 1rem;
    margin-left: 10rem;
}

/* 
respnosive
body h1{
    margin: 0;
}
.mainPage{
    display: flex;
    justify-content: space-between;
}
.navigation{
    width: 10rem;
    height: 100vh;
    background-color: aqua;
    text-align: center;
}
.navigation ul {
    padding: 0;
    list-style-type: none;
}
.mainContent{
    padding-top: 1rem;
    padding-left: 1rem;
} */